page-voortgang {
    .master{
        background-color: #dd8a10;
    }
    /*.scroll-content {
        background-color: map-get($colors, light);
    }*/

    ion-card-header {
        font-weight: bold;
    }
}
