page-home {
    .master{
        background-color: #333333;
        color: #f4f4f4;
        text-align: center;
        margin: 0 auto;
    }
    h1{
        color: #dd8a10;
    }
    img{
        width: 80%;
    }
}
