<!--
  Generated template for the ClubfinderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Clubfinder</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding class="master">
  <ion-list>
    <ion-item>
      <ion-label>Bestemming</ion-label>
      <ion-select placeholder="Kies">
        <ion-option  *ngFor="let club of clubs" value="{{club.adres}}">{{club.lijstnaam}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button ion-button full color="dark"(click)="navigate()">Navigeer</button>
  <ion-list>
    <ion-item-divider color="light">Club:</ion-item-divider>
    <ion-item *ngFor="let club of clubs">
      <ion-label>
          {{club.club}}
      </ion-label>
    </ion-item>
    <ion-item-divider color="light">Adres:</ion-item-divider>
    <ion-item *ngFor="let club of clubs">
      <ion-label>
        {{club.adres}}
      </ion-label>
    </ion-item>
    <ion-item-divider color="light">Openingsuren:</ion-item-divider>
    <ion-item *ngFor="let club of clubs">
      <ion-label>
        {{club.openingsuren.ma}} {{club.openingsuren.di}} {{club.openingsuren.wo}} {{club.openingsuren.do}} {{club.openingsuren.vr}}
        {{club.openingsuren.za}} {{club.openingsuren.zo}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>